p.caption {
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1, h2, h3 { 
  color: #004287;
}

/* Box für Warnungen */
.warnung {
  color: black; 
  background-color: rgba(193,201,193,0.3);
  border-left: 4px solid #e94653; 
  border-radius: 4px;
  padding: 4px 4px 4px 20px; 
}

blockquote {
  opacity: 1; 
  background-color: rgba(193,201,193,0.3);
  border-left: 4px solid #004287;
  border-radius: 4px;
  padding: 4px 4px 4px 20px; 
}