p.caption {
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1, h2, h3 { 
  color: #004287;
}

div.book.font-family-1 {
  font-family: 'Roboto', sans-serif;
}

/* Box für Warnungen */
.warnung {
  background-color: rgba(240,83,93,0.3);
  border-left: 4px solid #e94653; 
  border-radius: 4px;
  padding: 4px 4px 4px 20px; 
  margin: 0.85em 0 0.85em 0;
}

blockquote {
  opacity: 1 !important; 
  background-color: rgba(193,201,193,0.3);
  border-left: 4px solid #004287 !important;
  border-radius: 4px;
  padding: 4px 4px 4px 20px !important; 
  margin: 0.85em 0 0.85em 0 !important;
}

.warnung p:last-child, blockquote p:last-child {
  margin-bottom: 0em !important;
}

/* Hervorhebung von Wörtern */
.hl{
  background-color:#fecf16; 
  color: #603609
}